### 1. Write a function called fizz_buzz that takes a number 
 a.	If the number is divisible by 3, it should return “Fizz”. <br>
 b.	If it is divisible by 5, it should return “Buzz”. <br>
 c.	If it is divisible by both 3 and 5, it should return “FizzBuzz”. <br>
 d.	Otherwise, it should return the same number. <br>

In [28]:
def fizz_buzz(num):
    if num % 3 == 0 and num % 5 == 0 :
        return "FizzBuzz"
    elif num % 3 == 0 :
        return "Fizz"
    elif num % 5 == 0 :
        return "Buzz"
    else : 
        return num

print(fizz_buzz(65))

Buzz

### 2. Consider a  lst= [5, 10, 20] and write a try and except block to avoid IndexError.

In [29]:
lst= [5, 10, 20]

def get_item(lst, index):
    try:
        return lst[index]
    except IndexError:
        return 'The index is out of range.'

print(get_item(lst, 2))

20

In [30]:
print(get_item(lst, 4))

The index is out of range.

### 3. Create a class of Jet inventory with two arguments i.e name and country. Also add the minimum 2 items in the class and print them.

In [31]:
class Jet:
    def __init__(self, name, country):
        self.name = name
        self.country = country

    def jet_info(self):
        return f'{self.name} {self.country}'


jet1 = Jet("Lufthansa", "Germany")
print(jet1.jet_info())

Lufthansa Germany

### 4. Create notebook, import libraries and read the dataset.
   You can download the dataset from the following link. https://www.kaggle.com/c/titanic/data

In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [33]:
gender_submission_df = pd.read_csv('gender_submission.csv')

In [34]:
gender_submission_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [35]:
train_df = pd.read_csv('train.csv')

In [36]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
test_df = pd.read_csv('test.csv')

In [38]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### 5. Write a Python script to check whether a given key already exists in a dictionary. <br>

In [39]:
sample_dic = {'name': 'Nayana', 'surname': 'Kamtekar', 'email': 'abc@gmail.com'}

def is_key_exist(key) :
    if key in sample_dic :
        return "The key exist in a dictionary"
    else :
        return "The key doesn't exist in a dictionary"

print(is_key_exist('email'))

The key exist in a dictionary

In [40]:
print(is_key_exist('address'))

The key doesn't exist in a dictionary

### Additional Exercises: <br> 

### 6. Write a function called showNumbers that takes a parameter called limit. It should print all the numbers between 0 and limit with a label to identify the even and odd numbers. 
For example, if the limit is 3, it should print: <br>
•	0 EVEN <br>
•	1 ODD <br>
•	2 EVEN <br>
•	3 ODD

In [41]:
def showNumbers(limit):
    for i in range(limit+1):
        print(f'{i} {"EVEN" if i%2 == 0 else "ODD"}')

showNumbers(10)

0 EVEN
1 ODD
2 EVEN
3 ODD
4 EVEN
5 ODD
6 EVEN
7 ODD
8 EVEN
9 ODD
10 EVEN

### 7. Read the dataset from the this link. https://www.kaggle.com/mlg-ulb/creditcardfraud. And Print all the information describing dataset.

In [42]:
df = pd.read_csv('creditcard.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

##### We can also download dataset using opendatasets library

In [44]:
!pip install opendatasets --upgrade --quiet

WARNING: You are using pip version 20.1.1; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\program files (x86)\python38-32\python.exe -m pip install --upgrade pip' command.

In [45]:
import opendatasets as od

In [46]:
od.download('https://www.kaggle.com/mlg-ulb/creditcardfraud')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: nayanakamtekar
Your Kaggle Key: ········

  2%|█▏                                                                         | 1.00M/66.0M [00:00<00:11, 5.78MB/s]

Downloading creditcardfraud.zip to .\creditcardfraud

100%|███████████████████████████████████████████████████████████████████████████| 66.0M/66.0M [00:11<00:00, 6.19MB/s]

In [47]:
df1 = pd.read_csv('./creditcardfraud/creditcard.csv')

In [48]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [49]:
df1.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

### 8. Create a class named Person, with firstname and lastname properties, and a print name method.

In [50]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname

    def print_name(self):
        return f'{self.firstname} {self.lastname}'

person1 = Person('Nayana', 'Kamtekar')

print(person1.print_name())

Nayana Kamtekar

### 9. Write a program asks for numeric user input. Instead the user types characters in the input box. The program normally would crash. But write try-except block so it can be handled properly.

In [51]:
def enter_number():
    try:
        x = input("Enter number: ")
        y = int(x)
        y = y ** 2
        print(y)
    except ValueError:
        print("Invalid input")
enter_number()

Enter number: 5
25

In [52]:
enter_number()

Enter number: dk
Invalid input

### 10. Write a Python program to create two empty classes, Student and Marks. Now create some instances and check whether they are instances of the said classes or not. Also, check whether the said classes are subclasses of the built-in object class or not. <br>

In [53]:
class Student:
    pass

class Marks:
    pass

student1 = Student()
mark1 = Marks()

print(isinstance(student1, Student))

True

In [54]:
print(isinstance(mark1, Marks))

True

In [55]:
print(isinstance(student1, Marks))

False

In [56]:
print(isinstance(mark1, Student))

False