In [15]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('responses.csv', delimiter = ",") # read in the data and print it
df # Note that the first line of the csv-file is interpreted as variable names (which fits in this case!).

,Unnamed: 0,type,exp,cor,diff,hour,sec,min,minSekRaw
0,1,Latin,"Yes, No","Yes, No",5.0,17,68.0,3,"(3,68)"
1,2,Greek,Yes,No,10.0,17,4.0,6,"(6,4)"
2,3,Latin,No,Yes,5.0,20,54.0,9,"(9,54)"
3,4,Greek,Yes,Yes,3.0,20,11.0,4,"(4,11)"
4,5,Latin,Yes,Yes,1.0,20,5.0,8,"(8,5)"
5,6,Greek,Yes,Yes,3.0,20,NaN,NaN,NaN
6,7,Latin,Yes,No,10.0,20,NaN,NaN,NaN
7,8,Greek,No,No,7.0,20,9.0,8,"(8,9)"
8,9,Latin,Yes,Yes,10.0,20,NaN,NaN,NaN
9,10,Latin,Yes,Yes,6.0,20,NaN,idn’t do the sudoku but the instructions seem ...,Didn’t do the sudoku but the instructions seem...
10,11,Latin,Yes,Yes,1.0,11,NaN,.,3.5
11,12,Latin,Yes,Yes,1.0,11,NaN,our minute,four minutes
12,13,Greek,Yes,Yes,1.0,11,NaN,NaN,"5,0"
13,14,Greek,Yes,Yes,3.0,12,NaN,em minutes and eleven second,tem minutes and eleven seconds
14,15,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN
15,16,Greek,Yes,Yes,7.0,21,1.0,NaN,"4,15"
16,17,Greek,No,Yes,3.0,0,NaN,NaN,10

In [25]:

df.loc[df['type'].isin(['Latin','Greek'])]

,Unnamed: 0,type,exp,cor,diff,hour,sec,min,minSekRaw
0,1,Latin,"Yes, No","Yes, No",5.0,17,68.0,3,"(3,68)"
1,2,Greek,Yes,No,10.0,17,4.0,6,"(6,4)"
2,3,Latin,No,Yes,5.0,20,54.0,9,"(9,54)"
3,4,Greek,Yes,Yes,3.0,20,11.0,4,"(4,11)"
4,5,Latin,Yes,Yes,1.0,20,5.0,8,"(8,5)"
5,6,Greek,Yes,Yes,3.0,20,NaN,NaN,NaN
6,7,Latin,Yes,No,10.0,20,NaN,NaN,NaN
7,8,Greek,No,No,7.0,20,9.0,8,"(8,9)"
8,9,Latin,Yes,Yes,10.0,20,NaN,NaN,NaN
9,10,Latin,Yes,Yes,6.0,20,NaN,idn’t do the sudoku but the instructions seem ...,Didn’t do the sudoku but the instructions seem...
10,11,Latin,Yes,Yes,1.0,11,NaN,.,3.5
11,12,Latin,Yes,Yes,1.0,11,NaN,our minute,four minutes
12,13,Greek,Yes,Yes,1.0,11,NaN,NaN,"5,0"
13,14,Greek,Yes,Yes,3.0,12,NaN,em minutes and eleven second,tem minutes and eleven seconds
15,16,Greek,Yes,Yes,7.0,21,1.0,NaN,"4,15"
16,17,Greek,No,Yes,3.0,0,NaN,NaN,10

In [26]:
df['num_min']= pd.to_numeric(df['min'], errors='coerce')
df

,Unnamed: 0,type,exp,cor,diff,hour,sec,min,minSekRaw,num_min
0,1,Latin,"Yes, No","Yes, No",5.0,17,68.0,3,"(3,68)",3.0
1,2,Greek,Yes,No,10.0,17,4.0,6,"(6,4)",6.0
2,3,Latin,No,Yes,5.0,20,54.0,9,"(9,54)",9.0
3,4,Greek,Yes,Yes,3.0,20,11.0,4,"(4,11)",4.0
4,5,Latin,Yes,Yes,1.0,20,5.0,8,"(8,5)",8.0
5,6,Greek,Yes,Yes,3.0,20,NaN,NaN,NaN,NaN
6,7,Latin,Yes,No,10.0,20,NaN,NaN,NaN,NaN
7,8,Greek,No,No,7.0,20,9.0,8,"(8,9)",8.0
8,9,Latin,Yes,Yes,10.0,20,NaN,NaN,NaN,NaN
9,10,Latin,Yes,Yes,6.0,20,NaN,idn’t do the sudoku but the instructions seem ...,Didn’t do the sudoku but the instructions seem...,NaN
10,11,Latin,Yes,Yes,1.0,11,NaN,.,3.5,NaN
11,12,Latin,Yes,Yes,1.0,11,NaN,our minute,four minutes,NaN
12,13,Greek,Yes,Yes,1.0,11,NaN,NaN,"5,0",NaN
13,14,Greek,Yes,Yes,3.0,12,NaN,em minutes and eleven second,tem minutes and eleven seconds,NaN
14,15,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN
15,16,Greek,Yes,Yes,7.0,21,1.0,NaN,"4,15",NaN
16,17,Greek,No,Yes,3.0,0,NaN,NaN,10,NaN

In [38]:
df.loc[(df['sec'] <= 60) | (df['sec'].isna())]

,Unnamed: 0,type,exp,cor,diff,hour,sec,min,minSekRaw,num_min
1,2,Greek,Yes,No,10.0,17,4.0,6,"(6,4)",6.0
2,3,Latin,No,Yes,5.0,20,54.0,9,"(9,54)",9.0
3,4,Greek,Yes,Yes,3.0,20,11.0,4,"(4,11)",4.0
4,5,Latin,Yes,Yes,1.0,20,5.0,8,"(8,5)",8.0
5,6,Greek,Yes,Yes,3.0,20,NaN,NaN,NaN,NaN
6,7,Latin,Yes,No,10.0,20,NaN,NaN,NaN,NaN
7,8,Greek,No,No,7.0,20,9.0,8,"(8,9)",8.0
8,9,Latin,Yes,Yes,10.0,20,NaN,NaN,NaN,NaN
9,10,Latin,Yes,Yes,6.0,20,NaN,idn’t do the sudoku but the instructions seem ...,Didn’t do the sudoku but the instructions seem...,NaN
10,11,Latin,Yes,Yes,1.0,11,NaN,.,3.5,NaN
11,12,Latin,Yes,Yes,1.0,11,NaN,our minute,four minutes,NaN
12,13,Greek,Yes,Yes,1.0,11,NaN,NaN,"5,0",NaN
13,14,Greek,Yes,Yes,3.0,12,NaN,em minutes and eleven second,tem minutes and eleven seconds,NaN
14,15,NaN,NaN,NaN,NaN,21,NaN,NaN,NaN,NaN
15,16,Greek,Yes,Yes,7.0,21,1.0,NaN,"4,15",NaN
16,17,Greek,No,Yes,3.0,0,NaN,NaN,10,NaN

In [41]:
df1 = pd.read_csv('SMSSpamCollection.txt', delimiter = "\t", names=['s','t'])

In [46]:
df1.head(50)

       s                                                  t
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
10   ham  I'm gonna be home soon and i don't want to tal...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
13   ham  I've been searching for the right words to tha...
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15  spam  XXXMobileMovieClub: To use your credit, click ...
16   ham                         Oh k...i'm watching here:)
17   ham  Eh u remember how 2 spell his name... Yes i di...
18   ham  Fine if thats the way u feel. Thats the way ...
19  spam  England v Macedonia - dont miss the goals/team...
20   ham          Is that seriously how you spell his name?
21   ham    I‘m going to try for 2 months ha ha only joking
22   ham  So ü pay first lar... Then when is da stock co...
23   ham  Aft i finish my lunch then i go str down lor. ...
24   ham  Ffffffffff. Alright no way I can meet up with ...
25   ham  Just forced myself to eat a slice. I'm really ...
26   ham                     Lol your always so convincing.
27   ham  Did you catch the bus ? Are you frying an egg ...
28   ham  I'm back &amp; we're packing the car now, I'll...
29   ham  Ahhh. Work. I vaguely remember that! What does...
30   ham  Wait that's still not all that clear, were you...
31   ham  Yeah he got in at 2 and was v apologetic. n ha...
32   ham                      K tell me anything about you.
33   ham  For fear of fainting with the of all that hous...
34  spam  Thanks for your subscription to Ringtone UK yo...
35   ham  Yup... Ok i go home look at the timings then i...
36   ham    Oops, I'll let you know when my roommate's done
37   ham                       I see the letter B on my car
38   ham                        Anything lor... U decide...
39   ham  Hello! How's you and how did saturday go? I wa...
40   ham  Pls go ahead with watts. I just wanted to be s...
41   ham  Did I forget to tell you ? I want you , I need...
42  spam  07732584351 - Rodger Burns - MSG = We tried to...
43   ham                                WHO ARE YOU SEEING?
44   ham  Great! I hope you like your man well endowed. ...
45   ham                   No calls..messages..missed calls
46   ham      Didn't you get hep b immunisation in nigeria.
47   ham                    Fair enough, anything going on?
48   ham  Yeah hopefully, if tyler can't do it I could m...
49   ham  U don't know how stubborn I am. I didn't even ...

In [56]:
df1['num']= df1.t.str.count('\d')

In [59]:
import re
df1['l'] = df1['t'].str.len()

In [60]:
df1.head(50)

       s                                                  t  num    l
0    ham  Go until jurong point, crazy.. Available only ...    0  111
1    ham                      Ok lar... Joking wif u oni...    0   29
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...   25  155
3    ham  U dun say so early hor... U c already then say...    0   49
4    ham  Nah I don't think he goes to usf, he lives aro...    0   61
5   spam  FreeMsg Hey there darling it's been 3 week's n...    4  147
6    ham  Even my brother is not like to speak with me. ...    0   77
7    ham  As per your request 'Melle Melle (Oru Minnamin...    1  160
8   spam  WINNER!! As a valued network customer you have...   19  157
9   spam  Had your mobile 11 months or more? U R entitle...   13  154
10   ham  I'm gonna be home soon and i don't want to tal...    0  109
11  spam  SIX chances to win CASH! From 100 to 20,000 po...   22  136
12  spam  URGENT! You have won a 1 week FREE membership ...   20  155
13   ham  I've been searching for the right words to tha...    0  196
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!    0   35
15  spam  XXXMobileMovieClub: To use your credit, click ...    0  149
16   ham                         Oh k...i'm watching here:)    0   26
17   ham  Eh u remember how 2 spell his name... Yes i di...    1   81
18   ham  Fine if thats the way u feel. Thats the way ...    0   56
19  spam  England v Macedonia - dont miss the goals/team...   23  155
20   ham          Is that seriously how you spell his name?    0   41
21   ham    I‘m going to try for 2 months ha ha only joking    1   47
22   ham  So ü pay first lar... Then when is da stock co...    0   52
23   ham  Aft i finish my lunch then i go str down lor. ...    1   88
24   ham  Ffffffffff. Alright no way I can meet up with ...    0   57
25   ham  Just forced myself to eat a slice. I'm really ...    0  144
26   ham                     Lol your always so convincing.    0   30
27   ham  Did you catch the bus ? Are you frying an egg ...    0  134
28   ham  I'm back &amp; we're packing the car now, I'll...    0   75
29   ham  Ahhh. Work. I vaguely remember that! What does...    0   64
30   ham  Wait that's still not all that clear, were you...    0  130
31   ham  Yeah he got in at 2 and was v apologetic. n ha...    2  189
32   ham                      K tell me anything about you.    0   29
33   ham  For fear of fainting with the of all that hous...    0   84
34  spam  Thanks for your subscription to Ringtone UK yo...    1  158
35   ham  Yup... Ok i go home look at the timings then i...    2  122
36   ham    Oops, I'll let you know when my roommate's done    0   47
37   ham                       I see the letter B on my car    0   28
38   ham                        Anything lor... U decide...    0   27
39   ham  Hello! How's you and how did saturday go? I wa...    0  155
40   ham  Pls go ahead with watts. I just wanted to be s...    0   82
41   ham  Did I forget to tell you ? I want you , I need...    0  142
42  spam  07732584351 - Rodger Burns - MSG = We tried to...   22  172
43   ham                                WHO ARE YOU SEEING?    0   19
44   ham  Great! I hope you like your man well endowed. ...    0   72
45   ham                   No calls..messages..missed calls    0   32
46   ham      Didn't you get hep b immunisation in nigeria.    0   45
47   ham                    Fair enough, anything going on?    0   31
48   ham  Yeah hopefully, if tyler can't do it I could m...    0   67
49   ham  U don't know how stubborn I am. I didn't even ...    0  148